<main (click)="playClickSound()" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp()">
	<velt-comments text-mode="false"></velt-comments>
	<app-wireframe></app-wireframe>
	<div class="content">

		<div *ngIf="!showWindow" (dblclick)="showWindow = true; playClickSound()"
			style="cursor: pointer; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 0.5rem;">
			<img src="assets/icons/html.png" alt="file" />
			<p style="color: white;">Chat App</p>
		</div>

		<div class="app-window" *ngIf="showWindow"  style="position: absolute;">
			<div class="app-header" (mousedown)="onMouseDown($event)">

				<p>Chat</p>

				<button (click)="showWindow = false; playClickSound()">
					<img src="assets/Close.svg" alt="Close" />
				</button>

			</div>
			<div class="message">

				<section id="container-id" data-velt-target-inline-comment-element-id="container-id">
					<velt-inline-comments-section multi-thread="false" target-comment-element-id="container-id"
						shadow-dom="false" dialog-variant="dialog-variant" variant="inline-section-variant"
						dark-mode="true">
					</velt-inline-comments-section>
				</section>
			</div>

		</div>
	</div>

	<div class="toolbar">
		<div class="LHS">
			<img src="assets/start_button.svg" alt="Start" />
			<img src="assets/figma_inactive.svg" alt="Figma" />
			<img src="assets/chat_active.svg" alt="Chat - Active" (click)="showWindow = false; playClickSound()"
				*ngIf="showWindow" />
			<img src="assets/chat_inactive.svg" alt="Chat - Inactive" (click)="showWindow = true; playClickSound()"
				*ngIf="!showWindow" />
		</div>
		<img src="assets/RHS.svg" alt="RHS" />

	</div>

</main>